		<div id="background-effect">
            <div class="iphone-4 landscape background-device"></div>
            <div class="iphone-5 portrait background-device"></div>
            <div class="ipad landscape background-device"></div>
            <div class="tablet portrait background-device"></div>
            <div class="desktop landscape background-device"></div>
        </div>

        <script type="text/javascript" src="/js/modernizr.js"></script>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="/js/fitvids.js"></script>
		<script type="text/javascript">
		/**
		 * Inline Javascript, like a n00b.
		 */
		$(document).ready(function () {
			$('.js-video-wrapper').fitVids();
		});
		WebFontConfig = {
			google: { families: [ 'Exo:400,700,700italic:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})(); </script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-28191752-4', 'auto');
			ga('send', 'pageview');
		</script>
    </body>
</html>