<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }} | Responsify WP. Cares about responsive images.</title>
        <meta name="description" content="Responsify WP. The WordPress plugin that cares about responsive images. So should you.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="Responsify WP. Cares about responsive images.">
        <meta name="twitter:site" content="@stefanledin">
        <meta name="twitter:title" content="Responsify WP">
        <meta name="twitter:description" content="Responsify WP. The WordPress plugin that cares about responsive images. So should you.">
        <meta name="twitter:creator" content="@stefanledin">
        <meta name="twitter:image" content="/img/share.jpg">

        <!-- Open Graph data -->
        <meta property="og:title" content="Responsify WP">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://responsify-wp.github.io">
        <meta property="og:image" content="/img/share.jpg">
        <meta property="og:description" content="Responsify WP. The WordPress plugin that cares about responsive images. So should you."> 
        <meta property="og:site_name" content="Responsify WP">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Exo:400,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="{{ page.bodyClass }}">
